body {
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.container {
  padding: 0 15px;
  height: 100vh;
  width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4d8ced;
  background-image: linear-gradient(225deg, #4d8ced 0%, #a79dab 33%, #222250 66%, #4fd0de 100%);
}

.contents {
  display: flex;
  align-items: baseline;
  gap: 100px;
  justify-content: space-around;
  padding: 20px;
  width: 60vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 35px;
}

.table-part {
  width: 30vw;
}

table {
  border: solid 1px black;
  width: 25vw;
  padding-left: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 20vw;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#submit {
  width: 60px;
  align-self: flex-end;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30vw;
}

tr {
  display: flex;
  gap: 5px;
  color: rgb(243, 235, 161);
}

td {
  padding: 5px 0;
}

tr:nth-child(even) {
  background-color: rgba(76, 92, 235, 0.3);
}

.refresh,
#submit {
  background-color: #222250;
  color: antiquewhite;
}

@media only screen and (max-width: 768px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  .contents {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100vw;
    height: 70vh;
  }

  h1 {
    text-align: center;
    color: black;
    padding-top: 20px;
    height: 10vh;
    margin: 0;
  }

  table {
    border: solid 1px black;
    width: 80vw;
    padding-left: 0;
  }

  tbody {
    overflow-y: scroll;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 80vw;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100vw;
  }
}
